Repository devpass-tech/challenge-tests-finance, pull requests merged in 2022-06, with the labels that each got.

#81 ✨ Teste Unitário para método removingSpaces
  solutions/devsprint-caio-santos-5/FinanceAppTests/Extensions/StringExtensionTests.swift
Labels: caio-sprint5

#83 testes do FormattedAgency - para formatar agencias
  solutions/devsprint-caio-santos-5/FinanceApp/Service/Entities/UserProfile.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Entities/AccountTest.swift
Labels: caio-sprint5

#82 ✨ Add test for Formatted Account Method
  solutions/devsprint-caio-santos-4/FinanceApp.xcodeproj/project.pbxproj
  solutions/devsprint-caio-santos-4/FinanceAppTests/Service/Entities/AccountTests.swift
Labels: caio-sprint4

#84 ✨ - Add test for Formatted Account Method
  solutions/devsprint-caio-santos-5/FinanceApp/Resources/Info.plist
  solutions/devsprint-caio-santos-5/FinanceApp/Service/Entities/UserProfile.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Entities/AccountTest.swift
  solutions/devsprint-caio-santos-5/project.yml
Labels: caio-sprint5

#86 ✨ Implementar Teste Unitário para método classIdentifier
  solutions/devsprint-caio-santos-5/FinanceApp/Components/ActivityListView.swift
  solutions/devsprint-caio-santos-5/FinanceApp/Extensions/UITableViewCell+Extensions.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Extensions/UITableViewCellExtensionTests.swift
Labels: caio-sprint5

#85 ✨ Teste unitário para o método classIdentifier
  solutions/devsprint-caio-santos-4/FinanceApp.xcodeproj/project.pbxproj
  solutions/devsprint-caio-santos-4/FinanceAppTests/Extensions/TableViewCellExtensionsTests.swift
Labels: caio-sprint4

#88 ✨Implementar Teste Unitário para método formattedAgency
  solutions/devsprint-caio-santos-4/FinanceAppTests/Service/Entities/AccountTests.swift
Labels: caio-sprint4

#90 ✨ Added Activity tests
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Entities/ActivityTests.swift
Labels: caio-sprint5

#89 ✨ - criados testes para home data
  solutions/devsprint-caio-santos-5/FinanceApp/Service/Entities/HomeData.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/FinanceServiceTests.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Mock/HomeDataJsonData.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Mock/NetworkClientMock.swift
Labels: caio-sprint5

#91 ✨Implementar Teste Unitário para método fetchContactList
  solutions/devsprint-caio-santos-5/FinanceApp/Service/Entities/Contact.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/FinanceServiceTests.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Mock/ContactListJsonData.swift
Labels: caio-sprint5

#94 ✨ Implementar Teste Unitário para método fetchActivityDetails
  solutions/devsprint-caio-santos-5/FinanceApp/Service/Entities/ActivityDetails.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/FinanceServiceTests.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Mock/ActivityDetailsJsonData.swift
Labels: caio-sprint5

#95 ✨ - create tests to ActivityDetailsViewModel
  solutions/devsprint-caio-santos-5/FinanceApp/Helper/DispatchQueueProtocol.swift
  solutions/devsprint-caio-santos-5/FinanceApp/Modules/ActivityDetails/ActivityDetailsViewModel.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Helper/DispatchQueueMock.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Modules/ActivityDetails/ActivityDetailsViewModelDelegateMock.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Modules/ActivityDetails/ActivityDetailsViewModelTests.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/FinanceServiceMock.swift
Labels: caio-sprint5

#96 ✨ - update service tests
  solutions/devsprint-caio-santos-5/FinanceApp/Service/FinanceService.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/FinanceServiceTests.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Fixture/Activity+Fixture.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Fixture/ActivityDetails+Fixture.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Fixture/Contact+Fixture.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Fixture/HomeData+Fixture.swift
Labels: caio-sprint5

#93 Implementa os cenários de testes da ActivityDetailsViewModel.
  solutions/devsprint-caio-santos-4/FinanceApp.xcodeproj/project.pbxproj
  solutions/devsprint-caio-santos-4/FinanceApp/Modules/ActivityDetails/ActivityDetailsViewModel.swift
  solutions/devsprint-caio-santos-4/FinanceAppTests/Moduless/ActivityDetails/ActivityDetailsViewModelDelegateSpy.swift
  solutions/devsprint-caio-santos-4/FinanceAppTests/Moduless/ActivityDetails/ActivityDetailsViewModelTests.swift
  solutions/devsprint-caio-santos-4/FinanceAppTests/Moduless/ActivityDetails/Mocks/ActivityDetailsJson.swift
  solutions/devsprint-caio-santos-4/FinanceAppTests/Service/ServiceMockForActivityDetails.swift
Labels: caio-sprint4

#102 ✨ Added transferAmount tests
  solutions/devsprint-caio-santos-5/FinanceApp/Service/Entities/TransferResult.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/FinanceServiceTests.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Fixture/TransferResult+Fixture.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Service/Mock/TransferResultJsonData.swift
  solutions/devsprint-caio-santos-5/Podfile.lock
Labels: caio-sprint5

#103 ✨ - add snapshot tests para a class ActivityListView
  solutions/devsprint-caio-santos-5/FinanceApp/Service/FinanceService.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Helper/SampleViewController.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/SnapshotTests/ActivityListViewSnapshotTests.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/SnapshotTests/__Snapshots__/ActivityListViewSnapshotTests/test_ActivityListView.1.png
  solutions/devsprint-caio-santos-5/Podfile
  solutions/devsprint-caio-santos-5/Podfile.lock
Labels: caio-sprint5

#99 ✨ Implementar Teste Unitário para método fetchData da HomeViewModel
  solutions/devsprint-caio-santos-5/FinanceApp/Modules/Home/HomeViewModel.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Modules/FakeAPI/FakeFinanceService.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Modules/FakeAPI/FetchHomeDataResponse.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Modules/Home/HomeViewModelTests.swift
Labels: caio-sprint5

#100 Feature/inside navigation controller test
  solutions/devsprint-caio-santos-5/FinanceAppTests/ExtensionsTests/UIViewController+ExtensionsTest.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/FinanceAppTests.swift
Labels: caio-sprint5

#105 Feature/transfer amount test
  solutions/devsprint-caio-santos-4/FinanceApp.xcodeproj/project.pbxproj
  solutions/devsprint-caio-santos-4/FinanceAppTests/Service/FinanceServiceTests.swift
  solutions/devsprint-caio-santos-4/FinanceAppTests/Service/Mocks/TransferAmountJson.swift
Labels: caio-sprint4

#106 ✨ Implementar Teste de UI para navegação para Confirmation
  solutions/devsprint-caio-santos-5/FinanceApp/Components/TabBarController.swift
  solutions/devsprint-caio-santos-5/FinanceApp/Helper/DispatchQueueProtocol.swift
  solutions/devsprint-caio-santos-5/FinanceApp/Modules/Confirmation/ConfirmationView.swift
  solutions/devsprint-caio-santos-5/FinanceApp/Modules/Confirmation/ConfirmationViewController.swift
  solutions/devsprint-caio-santos-5/FinanceApp/Modules/Transfers/TransfersView.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Helper/DispatchQueueMock.swift
  solutions/devsprint-caio-santos-5/FinanceAppTests/Modules/ActivityDetails/ActivityDetailsViewModelTests.swift
  solutions/devsprint-caio-santos-5/FinanceAppUITests/FinanceAppUITests.swift
Labels: caio-sprint5

#107 Feature/home view model tests
  solutions/devsprint-caio-santos-4/FinanceApp.xcodeproj/project.pbxproj
  solutions/devsprint-caio-santos-4/FinanceAppTests/Moduless/ActivityDetails/ActivityDetailsViewModelTests.swift
  solutions/devsprint-caio-santos-4/FinanceAppTests/Moduless/Home /HomeViewModelDelegateSpy.swift
  solutions/devsprint-caio-santos-4/FinanceAppTests/Moduless/Home /HomeViewModelTests.swift
  solutions/devsprint-caio-santos-4/FinanceAppTests/Service/ServiceMockForHomeData.swift
Labels: caio-sprint4

#129 ✨ Adiciona testes unitários para o método transferAmount
  solutions/devsprint-leonardo-santos-1/FinanceApp.xcodeproj/project.pbxproj
  solutions/devsprint-leonardo-santos-1/FinanceApp/Service/FinanceService.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/ServiceTests/TransferAmountTests.swift
Labels: leonardo-testes-sprint1

#111 ✨: Testing fetchContactList method
  solutions/devsprint-leonardo-santos-1/FinanceApp.xcodeproj/project.pbxproj
  solutions/devsprint-leonardo-santos-1/FinanceApp/Service/Entities/Contact.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Service/Entities/Contact+Fixtures.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Service/FinanceServiceTest.swift
Labels: leonardo-testes-sprint1

#121 ✨added a Spy for DispatchQueue
  solutions/devsprint-leonardo-santos-1/FinanceApp.xcodeproj/project.pbxproj
  solutions/devsprint-leonardo-santos-1/FinanceApp/Commons/Extensions/DispatchQueue+Extensions.swift
  solutions/devsprint-leonardo-santos-1/FinanceApp/Commons/Extensions/String+Extensions.swift
  solutions/devsprint-leonardo-santos-1/FinanceApp/Commons/Extensions/UITableViewCell+Extensions.swift
  solutions/devsprint-leonardo-santos-1/FinanceApp/Commons/Extensions/UIViewController+Extensions.swift
  solutions/devsprint-leonardo-santos-1/FinanceApp/Modules/ActivityDetails/ActivityDetailsViewModel.swift
  solutions/devsprint-leonardo-santos-1/FinanceApp/Modules/Home/HomeViewModel.swift
  solutions/devsprint-leonardo-santos-1/FinanceApp/Service/Entities/ActivityDetails.swift
  solutions/devsprint-leonardo-santos-1/FinanceApp/Service/Entities/HomeData.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Commons/Extensions/UIViewController+ExtensionsTests.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/DispatchQueueSpy.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Modules/ActivityDetails/ActivityDetailsViewModelDelegateSpy.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Modules/ActivityDetails/ActivityDetailsViewModelTests.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Modules/ActivityDetails/FinanceServiceActivityDetailsSpy.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Modules/Home/FinanceServiceHomeSpy.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Modules/Home/HomeViewModelDelegateSpy.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Modules/Home/HomeViewModelTests.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Services/Entities/ActivityDetails+Fixture.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Services/Entities/HomeData+Fixture.swift
Labels: leonardo-testes-sprint1

#127 Transfers view controller
  solutions/devsprint-leonardo-santos-1/FinanceApp.xcodeproj/project.pbxproj
  solutions/devsprint-leonardo-santos-1/FinanceApp/Modules/Transfers/TransfersViewController.swift
  solutions/devsprint-leonardo-santos-1/FinanceAppTests/Modules/Transfers/TransfersViewControllerTests.swift
Labels: leonardo-testes-sprint1
